.container {
    width: 500px;
    height: 500px;
    border: 2px dotted green;
    background-color: khaki;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
}

.item {
    background-color: greenyellow;
    border: 2px dotted blue;
}