.container {
    border: 2px dotted green;
    background-color: lavender;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.news {
    width: 50%;w
    padding: 10px;
    box-sizing: border-box;
}

.image {
    width: 100%;
    height: auto;
    background-color: greenyellow;
    border: 2px dashed blue;
    margin: 0 auto;
    box-sizing: border-box;
}

.three {
    order: -1;
    width: 100%;
}