.display {
    width: 100px;
    height: 100px;
}

.display-block {
    border: 5px double red;
    display: block;
}

.display-inline {
    border: 5px dotted blue;
    display: inline;
}

.display-inline-block {
    border: 5px dashed green;
    display: inline-block;
}

.display-none {
    border: 5px solid black;
    display: none;
}