body {
    background-color: yellowgreen;
    color: teal;
}

h1 {
    font-size: 50px;
}

main {
    width: 60%;
    display: inline-block;
}

aside {
    width: 30%;
    display: inline-block;

}

aside p {
    margin: 10px;
}

p {
    font-size: large;
}

footer {
    text-align: center;
}